@model PaginationResponse<Category>
@{
    ViewData["Title"] = "Categories";
}

<h1>Categories</h1>
<h5>Category allow us to indicate in what we spend our money, also, where our incomes come from.</h5>

<a asp-action="Create" class="btn btn-primary mb-3">Create new</a>

<div class="row">
    <label>Number of records to show:</label>
    <div class="mb-3 col-auto">
        <select asp-for="@Model.RecordsPerPage" id="recordsPerPage" class="form-select">
            <option>3</option>
            <option>5</option>
            <option>10</option>
            <option>25</option>
        </select>
    </div>
</div>

<partial name="_pagination"/>

<table class="table">
    <thead>
        <tr>
            <th>Actions</th>
            <th>Name</th>
            <th>Type</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var categorie in Model.Elements)
        {
            <tr>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@categorie.Id">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@categorie.Id">Delete</a>
                </td>
                <td>
                    @categorie.Name
                </td>
                <td>
                    @categorie.OperationTypeId.ToString()
                </td>
            </tr> 
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#recordsPerPage").change(function(){
            const recordsPerPage = $(this).val();
            location.href = `/categories/?page=1&recordsPerPage=${recordsPerPage}`;
        });
    </script>
}